.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.bg_container {
  display: flex;
  flex-direction: row;
}
.details {
  display: flex;
  flex-direction: column;
}
.button1 {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.liked {
  background-color: #0b69ff;
}
.like {
  background-color: #7e858e;
}
